*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    width: 1200px;
    max-width: 1200px;

}
header{
    .container{
        .navbar{
            width: 1200px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 150px;
            margin-top: 20px;
            .p1{
                color: red;
               
            }
            .but1{
                width: 80px;
                height: 40px;
                background: red;
                color: white;
                border: none;
                border-radius: 30px;
            }
        }
        main{
            width: 1200px;
            margin-left: 150px;
            
            .p2{
                font-size: 50px;
                width: 500px;
                font-weight: 900;
                margin-top: 150px;
            }
            .p3{
                width: 400px;
                color: grey;
                margin-top: 30px;
            }
            .but2{
                width: 200px;
                height: 45px;
                background: red;
                border: none;
                border-radius: 25px;
                margin-top: 40px;
                transform: translate(0, -550px);
            }
            .img1{
                transform: translate(400px, -350px);
            }
            .box1{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .card1{
                width: 360px;
                height: 272px;
                box-shadow: 5px 5px 5px 5px grey;
                padding: 30px 30px;
                transform: translate(0, -200px);
            }
            .p4{
                font-size: 15px;
                font-weight: 900;
                margin-top: 10px;
            }
            .p5{
                color: grey;
                margin-top: 15px;
            }
            .p6{
                color: grey;
                margin-top: 50px;
            }
            .img3{
                transform: translate(280px, -15px);
            }
            }
            .box2{
                .p7{
                    font-size: 30px;
                    font-weight: 900;
                    transform: translate(600px, -420px);
                    width: 400px;
                }
                .p8{
                    transform: translate(600px, -380px);
                    width: 400px;
                    color: grey;
                }
                .p9{
                    color: grey;
                    transform: translate(600px, -350px);
                    width: 350px;
                }
            }
           .box3{
            margin-top: 100px;
            .p10{
                width: 400px;
                font-size: 30px;
                font-weight: 900;
            }
            .p11{
                color: grey;
                margin-top: 30px;
                width: 400px;
            }
            .p12{
                color: grey;
                margin-top: 30px;
                width: 400px;
            }
           }
           .card2{
            width: 260px;
            height: 249px;
             border: 1px solid grey;
            padding: 20px 20px;
            transform: translate(550px, -300px);
            .p13{
                margin-top: 20px;
                color: grey;
            }
            .p14{
                  margin-top: 20px;
                color: grey;
            }
           }
           .card3{
                  width: 260px;
            height: 249px;
             border: 1px solid grey;
            padding: 20px 20px;
            transform: translate(850px, -400px);
           }
           .card4{
                  width: 260px;
            height: 249px;
            border: 1px solid grey;
            padding: 20px 20px;
            transform: translate(550px, -500px);
           }
        }  
    }
}
@media ( max-width:1200px) {
     .container{ width: 100%; padding: 10px;}
     main{flex-direction:column ;}
     .img1{width:300px ; height: 300px; }

}